body {
    color: white;
    font-family: 'Sirin Stencil', cursive;
    text-align: center;
    background-image: linear-gradient(to right, #1a2738, #004e92);
}

h1 {
    margin-bottom: 50px;
}
#instructions {
    margin-top: 50px;
    margin-bottom: 50px;
}

#randomNumber {
    margin: auto;
    width: 100px;
    color: white;
    background-color: #1a2738;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.crystals {
    margin-top: 50px;
    margin-bottom: 50px;
}
#crystal1 {
    width: 100px;
    height: 120px;
    border: 2px solid black;
    margin-right: 50px;
}

#crystal2 {
    width: 100px;
    height: 120px;
    border: 2px solid black;
    margin-right: 50px;
}

#crystal3 {
    width: 100px;
    height: 120px;
    border: 2px solid black;
    margin-right: 50px;
}

#crystal4 {
    width: 100px;
    height: 120px;
    border: 2px solid black;
}

#counter {
    margin: auto;
    width: 200px;
    background-color: #1a2738;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#win {
    margin: auto;
    width: 200px;
    background-color: #1a2738;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: green;
}

#loss {
    margin: auto;
    width: 200px;
    background-color: #1a2738;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
}